In [5]:
import matplotlib.pyplot as plt
from datetime import date

In [2]:
import yfinance as yt

In [3]:
obj = yt.Ticker('AAPL')

In [4]:
obj.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 147000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 131.96,
 'regularMarketOpen': 133.75,
 'twoHundredDayAverage': 118.708885,
 'trailingAnnualDividendYield': 0.006115489,
 'payoutRatio': 0.2177,
 'volume24Hr': None,
 'regularMarketDayHigh': 135.38,
 'navPrice': None,
 'averageDailyVolume10Day': 138575066,
 'totalAssets': None,
 'regularMarketPreviousClose': 131.96,
 'fiftyDayAverage': 131.92313,
 'trailingAnnualDividendRate': 0.807,
 'open': 133.75,
 'toCurrency': None,
 'averageVolume10days': 138575066,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.82,
 'exDividendDate': 1612483200,
 'beta': 1.283613,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 130.9315,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 36.38188,
 'regularMarketVolume': 104212352,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2251955634176,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 109619424,
 'priceToSalesTrailing12Months': 7.656197,
 'dayLow': 130.9315,
 'ask': 134.13,
 'ytdReturn': None,
 'askSize': 1400,
 'volume': 104212352,
 'fiftyTwoWeekHigh': 145.09,
 'forwardPE': 28.971922,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.44,
 'fiftyTwoWeekLow': 53.1525,
 'bid': 134.05,
 'tradeable': False,
 'dividendYield': 0.0062,
 'bidSize': 1000,
 'dayHigh': 135.38,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.652,
 'beta3Year': None,
 'profitMargins': 0.21735,
 'enterpriseToEbitda': 26.428,
 '52WeekChange': 0.71010184,
 'morningStarRiskRating': None,
 'forwardEps': 4.63,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16788100096,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 3.936,
 'sharesShort': 99897228,
 'sharesPercentSharesOut': 0.0058999998,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.59661996,
 'netIncomeToCommon': 63929999360,
 'trailingEps': 3.687,
 'lastDividendValue': 0.205,
 'SandP52WeekChange': 0.14322305,
 'priceToBook': 34.080284,
 'heldPercentInsiders': 0.00065,
 'nextFiscalYearEnd': 1664150400,
 'mostRecentQuarter': 1608940800,
 'shortRatio': 0.88,
 'sharesShortPreviousMonthDate': 1607990400,
 'floatShares': 16770972142,
 'enterpriseValue': 2250574135296,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1604620800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.293,
 'dateShortInterest': 1610668800,
 'pegRatio': 2.03,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0058999998,
 'sharesShortPriorMonth': 94721417,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 133.75,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [6]:
hist = obj.history(start='2018-01-01', end=date.today(), debug=False)

In [7]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-02,40.936868,41.451707,40.720345,41.442081,102223600,0.0,0.0
2018-01-03,41.507038,41.993008,41.369910,41.434864,118071600,0.0,0.0
2018-01-04,41.509438,41.733178,41.398774,41.627323,89738400,0.0,0.0
2018-01-05,41.725959,42.190274,41.632134,42.101261,94640000,0.0,0.0
2018-01-08,41.944889,42.248017,41.843843,41.944889,82271200,0.0,0.0

In [8]:
hist.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-25,143.070007,145.089996,136.539993,142.919998,157611700,0.0,0.0
2021-01-26,143.600006,144.300003,141.369995,143.160004,98390600,0.0,0.0
2021-01-27,143.429993,144.300003,140.410004,142.059998,140843800,0.0,0.0
2021-01-28,139.520004,141.990005,136.699997,137.089996,142621100,0.0,0.0
2021-01-29,135.830002,136.740005,130.210007,131.960007,177180600,0.0,0.0

In [9]:
hist.shape

(775, 7)

In [10]:
hist.reset_index(inplace=True)

In [11]:
hist.shape

(775, 8)

In [13]:
hist.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2018-01-02,40.936868,41.451707,40.720345,41.442081,102223600,0.0,0.0
1,2018-01-03,41.507038,41.993008,41.369910,41.434864,118071600,0.0,0.0
2,2018-01-04,41.509438,41.733178,41.398774,41.627323,89738400,0.0,0.0
3,2018-01-05,41.725959,42.190274,41.632134,42.101261,94640000,0.0,0.0
4,2018-01-08,41.944889,42.248017,41.843843,41.944889,82271200,0.0,0.0